{% extends 'base.html' %}
{% load static %}
{% block title %}Esports Individuals{% endblock %}

{% block content %}
<section class="about_section layout_padding">
<div class="container">
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <img src="{% static 'images/provisionals.jpg' %}" class="card-img-top" alt="Natacio Provisionals">
            <div class="card-body">
                <h3 class="card-title">Llistats Provisionals</h3>
                <p class="card-text">Realitza els llistats provisionals de natació.</p>
                <a href="{% url 'llistats_provisionals' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <img src="{% static 'images/natacio.jpg' %}" class="card-img-top" alt="Natacio Definitius">
            <div class="card-body">
                <h3 class="card-title">Sèries Definitives</h3>
                <p class="card-text">Realitza els llistats provisionals de natació.</p>
                <a href="{% url 'llistats_definitius' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <img src="{% static 'images/trampoli.jpg' %}" class="card-img-top" alt="Trampoli">
            <div class="card-body">
                <h3 class="card-title">Competicions Trampolí</h3>
                <p class="card-text">Crea i gestiona les competicions de trampolí.</p>
                <a href="{% url 'competicions_home' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>

    </div>
</div>
</section>
{% endblock %}