{% extends 'base.html' %}
{% load static %}
{% block title %}Esports d'Equip{% endblock %}

{% block content %}
<section class="about_section layout_padding">
<div class="container">
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <img src="{% static 'images/calendaritzacions.jpg' %}" class="card-img-top" alt="Calendaritzacions">
            <div class="card-body">
                <h3 class="card-title">Calendaritzacions Primera Fase</h3>
                <p class="card-text">Realitza les calendaritzacions dels esports d'equip.</p>
                <a href="calendaritzacions" class="btn btn-primary">Accedeix</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <img src="{% static 'images/calendaritzacions_fase_dos.jpg' %}" class="card-img-top" alt="Calendaritzacions Fase Dos">
            <div class="card-body">
                <h3 class="card-title">Calendaritzacions Segona Fase</h3>
                <p class="card-text">Realitza les calendaritzacions dels esports d'equip.</p>
                <a href="calendaritzacions_fase_dos" class="btn btn-primary">Accedeix</a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <img src="{% static 'images/designacions.jpg' %}" class="card-img-top" alt="Designacions">
            <div class="card-body">
                <h3 class="card-title">Designacions</h3>
                <p class="card-text">Realitza les designacions arbitrals.</p>
                <a href="designacions" class="btn btn-primary">Accedeix</a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}