{% extends 'base.html' %}
{% load static %}
{% block title %}Esports d'Equip{% endblock %}

{% block content %}
<section class="about_section layout_padding">
<div class="container">
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <img src="{% static 'images/certificats.jpg' %}" class="card-img-top" alt="Certificats">
            <div class="card-body">
                <h3 class="card-title">Nomenament de Certificats</h3>
                <p class="card-text">Reanomena els certificats de cada bloc.</p>
                <a href="{% url 'certificats' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>
        
        
        <div class="card">
            <img src="{% static 'images/notes.jpg' %}" class="card-img-top" alt="Certificats">
            <div class="card-body">
                <h3 class="card-title">Tractament de Notes</h3>
                <p class="card-text">Actualitza el seguiment de l'alumnat amb les notes d'un curs nou.</p>
                <a href="{% url 'seguiment_import_excel' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/enviaments.jpg' %}" class="card-img-top" alt="Certificats">
            <div class="card-body">
                <h3 class="card-title">Enviament de Certificats</h3>
                <p class="card-text">Envia els certificats reanomenats als alumnes corresponents.</p>
                <a href="{% url 'seguiment_send_email_certificates' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <img src="{% static 'images/alumnos.jpg' %}" class="card-img-top" alt="Enviament de Certificats">
            <div class="card-body">
                <h3 class="card-title">Seguiment de l'Alumnat</h3>
                <p class="card-text">Full resum de l'alumnat.</p>
                <a href="{% url 'seguiment_list' %}" class="btn btn-primary">Accedeix</a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}